@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  /* ### Primary */

  --very-dark-blue: #070439;
  --desaturated-blue: #585989;

  /* ### Accent */

  --bright-blue: #3065f8;
  --moderate-cyan: #3c9f8f;

  /* ### Neutral */

  --light-grayish-blue: #f6f6fe;
  --light-gray: #bfbfbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}
